form {
  padding: .6rem 1rem;
}
form .form-label[for="condition"] .popover .popover-container {
  width: 620px;
}
form .form-label[for="condition"] .popover :focus+.popover-container,
form .form-label[for="condition"] .popover:hover .popover-container {
  transform: translate(0, -1.2rem) scale(1);
}

form .schema-props {
  width: 370px;
}
/*form .expand-collapse-all {
  margin-right: calc(1px + 0.8rem);
}*/

form+.divider~.card {
  margin: 1rem;
}
form+.divider~.card.collapsed .card-header {
  padding-bottom: .8rem;
}
form+.divider~.card .card-header>.btn-group {
  margin-right: .6rem;
}

.lvl-root .column,
.lvl-leaf .column {
  padding-top: .4rem;
  padding-bottom: .4rem;
}
.lvl-root .card,
.lvl-leaf .card {
  height: 100%;
}

.lvl-root .card.pending-modifications {
  border: .3rem solid rgb(87,85,217,.22);
}
.lvl-root .card.pending-modifications .card-header {
  padding: .5rem;
}
.lvl-root .card.pending-modifications .card-title {
  font-style: italic;
}
.lvl-root .card.pending-modifications .card-title:after {
  content: '*';
}

.lvl-root .card.disabled {
  opacity: .5;
}
.lvl-leaf .card .label.float-right {
  margin-left: .3rem;
}
