<h3>SQL transcript correctness</h3>
<script src="../vendor/jquery.min.js"></script>
<script>(function() {
  
  var SCHEMA_ALATETHEJAZAT='c622a21996a791b001fb1265e88958164a6f86ff';
  var SCHEMA_NYILASZARO='388f22a265053f04f9c0fb88a209c4df3b06e0a7';
  var SCHEMA_MELEGBURKOLAT='f737e1e845d310392fbadaa6723577ef51039107';
  var SCHEMA_FELULETKIEGYENLITO='e0e77b1ab72bbe0e3c6f58847d96b99a3e28714d';

  var KIT_FUNCTION_FELULETKIEGYENLITES='c5e12531799fc0b17056111720cef21636620d8a';
  var PROP_MAXIMUM_RETEGVASTAGSAG='14cccc760d9604c99264486e1ea9f06851305dc7';
  var PROP_KORROZIV_ANYAG_KIBOCSATAS='c0d1985ff4f2405323e4f599c0c84a34bc857f0c';
  
  function setupTest(name,reqs,check_fn) {
    var checkbox=$('<input type="checkbox">');
    $(document.body).append(checkbox,' '+name,'<br>');
    $.when.apply($,reqs).always(function() {
      checkbox.prop('disabled',true);
      try {
        if (reqs.every(function(req) { return req.state()=='resolved'; }) &&  check_fn.apply(this,reqs.length>1 ? Array.prototype.map.call(arguments,function(a) { return a[0]; }) : [arguments[0]])) {
          checkbox.prop('checked',true);
        } else {
          checkbox.prop('checked',false).css('box-shadow','0 0 0 3px crimson');
        }
      } catch (e) {
        checkbox.prop('checked',false).css('box-shadow','0 0 0 3px crimson');
      }
    });
  }
  
  function isValidHitsArr(r) {
    return r instanceof Array && r.length>0 && typeof(r[0])!='string';
  }
  
  setupTest.filter
  
  setupTest('Black box testing product specificities, related property existence',[
    $.post('schema/'+SCHEMA_ALATETHEJAZAT+'/query','has any prop')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return Object.keys(p.props_raw).length>0; }); });
  setupTest('Black box testing product specificities, related parameter existence',[
    $.post('schema/'+SCHEMA_NYILASZARO+'/query','has any param'),
    $.get('schema/'+SCHEMA_NYILASZARO)
  ],function(r,s) { return isValidHitsArr(r) && r.every(function(p) { return s.param_inf.hasOwnProperty(p.id); }); });
  setupTest('Black box testing product specificities, being kit',[
    $.post('schema/'+SCHEMA_MELEGBURKOLAT+'/query','is kit')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return Object.keys(p.kit).length>0; }); });
  setupTest('Black box testing product specificities, being kit child',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','is kit child'),
    $.get('schema/'+SCHEMA_MELEGBURKOLAT)
  ],function(r,s) { return isValidHitsArr(r) && r.every(function(p) { return s.kf_map[p.kf_id][KIT_FUNCTION_FELULETKIEGYENLITES].indexOf(p.id)>=0 }); });
  
  setupTest('Black box testing operators, negation',[
    $.post('schema/'+SCHEMA_ALATETHEJAZAT+'/query','!is kit')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return Object.keys(p.kit).length==0; }); });
  
  setupTest('Black box testing operators, <i>less or equals</i> relation',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<=10')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value<=10; }); });
  setupTest('Black box testing operators, <i>less than</i> relation',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<10')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value<10; }); });
  setupTest('Black box testing operators, <i>greater or equals</i> relation',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag>=10')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value>=10; }); });
  setupTest('Black box testing operators, <i>greater than</i> relation',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag>10')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value>10; }); });
  
  setupTest('Black box testing operators, equality',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag==10')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value==10; }); });
  setupTest('Black box testing operators, inequality',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag!=10')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value!=10; }); });
  
  setupTest('Black box testing operators, set membership',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag in (10,20)')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return [10,20].indexOf(p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value)>=0; }); });
  
  setupTest('Black box testing operators, conjuction',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag==20 && prop::korroziv_anyag_kibocsatas=="Ct"')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value==20 && p.props_raw[PROP_KORROZIV_ANYAG_KIBOCSATAS].value=='Ct'; }); });
  setupTest('Black box testing operators, disjunction',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag==20 || prop::korroziv_anyag_kibocsatas=="Ct"')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value==20 || p.props_raw[PROP_KORROZIV_ANYAG_KIBOCSATAS].value=='Ct'; }); });
  
  setupTest('Black box testing parentheses',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','(prop::maximum_retegvastagsag==20 || prop::korroziv_anyag_kibocsatas=="Ct") && prop::maximum_retegvastagsag<20')
  ],function(r) { return isValidHitsArr(r) && r.every(function(p) { return (p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value==20 || p.props_raw[PROP_KORROZIV_ANYAG_KIBOCSATAS].value=='Ct') && p.props_raw[PROP_MAXIMUM_RETEGVASTAGSAG].value<20; }); });
  
  setupTest('Equivalent transformations, double negation',[
    $.post('schema/'+SCHEMA_ALATETHEJAZAT+'/query','!!has any prop'),
    $.post('schema/'+SCHEMA_ALATETHEJAZAT+'/query','has any prop')
  ],function(r,ref) { return isValidHitsArr(r) && r.length==ref.length && r.every(function(p,i) { return p.id==ref[i].id; }) });
  
  setupTest('Equivalent transformations, flipping relational operator',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<=10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','10>=prop::maximum_retegvastagsag'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','10>prop::maximum_retegvastagsag')
  ],function(r1,ref1,r2,ref2) { return isValidHitsArr(r1) && r1.length==ref1.length && r1.every(function(p,i) { return p.id==ref1[i].id; }) && isValidHitsArr(r2) && r2.length==ref2.length && r2.every(function(p,i) { return p.id==ref2[i].id; }) });
  setupTest('Relational operator pairs form disjoint sets',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<=10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag>10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag>=10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<10')
  ],function(r11,r12,r21,r22) { return isValidHitsArr(r11) && isValidHitsArr(r12) && r11.every(function(p1) { return r12.find(function(p2) { return p1.id==p2.id; })==undefined; }) && isValidHitsArr(r21) && isValidHitsArr(r22) && r21.every(function(p1) { return r22.find(function(p2) { return p1.id==p2.id; })==undefined; }); });
  
  setupTest('Equivalent transformations, transforming non-strict relational operators into disjunctions',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<=10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag<10 || prop::maximum_retegvastagsag==10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag>=10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag>10 || prop::maximum_retegvastagsag==10')
  ],function(r1,ref1,r2,ref2) { return isValidHitsArr(r1) && r1.length==ref1.length && r1.every(function(p,i) { return p.id==ref1[i].id; }) && isValidHitsArr(r2) && r2.length==ref2.length && r2.every(function(p,i) { return p.id==ref2[i].id; }) });
  
  setupTest('Equivalent transformations, transforming inequality into negated equality',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag!=10'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','!(prop::maximum_retegvastagsag==10)')
  ],function(r,ref) { return isValidHitsArr(r) && r.length==ref.length && r.every(function(p,i) { return p.id==ref[i].id; }) });
  
  setupTest('Equivalent transformations, transforming set membership into a series of disjunctions',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag in (10,20)'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag==10 || prop::maximum_retegvastagsag==20')
  ],function(r,ref) { return isValidHitsArr(r) && r.length==ref.length && r.every(function(p,i) { return p.id==ref[i].id; }) });
  
  setupTest('Equivalent transformations, commutative property of conjuction and disjunction',[
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag==20 && prop::korroziv_anyag_kibocsatas=="Ct"'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::korroziv_anyag_kibocsatas=="Ct" && prop::maximum_retegvastagsag==20'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::maximum_retegvastagsag==20 || prop::korroziv_anyag_kibocsatas=="Ct"'),
    $.post('schema/'+SCHEMA_FELULETKIEGYENLITO+'/query','prop::korroziv_anyag_kibocsatas=="Ct" || prop::maximum_retegvastagsag==20')
  ],function(r1,ref1,r2,ref2) { return isValidHitsArr(r1) && r1.length==ref1.length && r1.every(function(p,i) { return p.id==ref1[i].id; }) && isValidHitsArr(r2) && r2.length==ref2.length && r2.every(function(p,i) { return p.id==ref2[i].id; }) });
  
  setupTest('Utilizing all type of joins',[
    $.post('schema/'+SCHEMA_ALATETHEJAZAT+'/query','has any prop || has any param || is kit || is kit child')
  ],function(r) { return true; });
  
})();</script>
